<br><br>
<div>
<div class="alert alert-info" style="width: 85em; margin:auto;" *ngIf="productList.length===0"> 
  No item present. Click the button below to continue.
</div>
<br>
<div style="width: 5em; margin:auto;" *ngIf="productList.length===0">
<button type="submit" class="btn btn-success btn-block" style="margin:auto" (click)="goToAddProduct()">Add</button>
</div>
</div>
<ng-container *ngIf="productList.length>0">
<div class="card mt-5" style="margin:auto; width: 910px;">
    <mat-card fxFlex="50">
    <table class="table table-sum" style="border: 1px;">
      <thead class="table-primary">
        <th>Product Id</th>
        <th>Product Category</th>
        <th>Product Name</th>
        <th>Product Quantity</th>
        <th>Total Amount</th>
        <th>Product Receive Time</th>
        <th>Product Receive Date</th>
        <th>Delete Product</th>
        <th>Update Product</th>
      </thead>
      <ng-container *ngFor="let item of productList; let i=index">
          <tr >
            <td>{{item.productId}}</td>
            <td>{{item.productCategory}}</td>
            <td>{{item.productName}}</td>
            <td>{{item.productQuantity}}</td>
            <td>{{item.totalAmount | currency:"₹"}}</td>
            <td>{{item.productReceiveTimeStamp  | timeStampToTime }}</td>
            <td>{{item.productReceiveTimeStamp | timeStampToDate | date}}</td>
            <td><button type="submit" class="btn btn-primary"   (click)="goToDeleteProduct()">Delete</button></td>
            <td><button type="submit" class="btn btn-primary"  (click)="goToUpdateProduct()">Update</button></td>
          </tr>
    
      </ng-container>
  
    </table>
</mat-card>

  </div>
  <button type="submit" class="btn btn-primary" style="margin:1em 0 0 26em;" (click)="goToAddProduct()">Add</button>

<button type="submit" class="btn btn-primary" style="margin:1em 0 0 5em;" (click)="goToSearchProduct()">Search</button>

